{% extends "base.html" %}

<!---->
{% block htmltitle %}
<title>C356</title>
{% endblock %}
<!---->

<!---->
{% block content %}
<div>
    <style>
        .hello {
            filter: invert(0.5);
        }
        p {
            max-width: 500px;
            margin: 0 0 22px;
            font-size: 17px;
            line-height: 1.45;
        }

        p + p {
            margin: 0 0 20px;

            font-size: 14px;
            line-height: 1.4;

            font-style: italic;
        }

        .start {
            display: inline-flex;

            margin-top: 10px;
            padding: 10px 25px;

            border-radius: 10px;

            font-size: 14px;
            font-weight: 600;

            color: slategray !important;
            background: aliceblue;
        }
        .button {
            width: 220px;
            position: absolute;
            bottom: 20px;
            right: 10px;

            margin-top: auto;
            padding: 10px 25px;

            border-radius: 10px;

            font-size: 14px;
            font-weight: 600;

            color: #f1f1f1 !important;
            background: grey;
        }

        .button + .button {
            bottom: 80px;
        }

        .md-footer {
            display: none;
        }
    </style>

    <h1>C365</h1>

    <p>A comprehensive archive about container technology</p>

    <p>
        It is recommended for both the users who want to learn how to manage
        containers and the underlying architecture to start with general.
    </p>
    <a href="containers" class="start">
        Get started (General / Linux Containers)
    </a>

    <br />
    <img src="img/mascot.svg" class="hello" />
    <a href="containers" class="button"> Work with containers </a>
    <a href="containers" class="button"> Containers architecture </a>
</div>

{% endblock %}
