{% extends "base.html" %}

<!---->
{% block htmltitle %}
<title>C356</title>
{% endblock %}
<!---->

<!---->
{% block content %}
<div>
    <style>
        * {
            scrollbar-width: none;
            overflow-y: hidden;
        }

        h1 {
            color: #f1f1f1 !important;
        }
        p {
            max-width: 500px;
            font-size: 17px;
            color: #f1f1f1 !important;
            line-height: 1.45;
        }

        p:nth-of-type(2),
        p:nth-of-type(3) {
            margin: 0 0 20px;

            font-size: 14px;
            line-height: 1.4;

            font-style: italic;
        }
        p:nth-of-type(3) {
            position: absolute;
            bottom: 100px;
        }

        .start {
            display: inline-flex;

            margin-top: 10px;
            margin-bottom: 10px;

            padding: 10px 25px;

            border-radius: 10px;

            font-size: 14px;
            font-weight: 600;

            color: slategray !important;
            background: aliceblue;
        }
        .button {
            width: 220px;
            position: absolute;
            bottom: 80px;
            right: 10px;

            margin-top: auto;
            padding: 10px 25px;

            border-radius: 10px;

            font-size: 14px;
            font-weight: 600;

            color: #f1f1f1 !important;
            background: grey;
        }

        .button + .button {
            bottom: 20px;
        }

        .md-footer {
            display: none;
        }

        .bg-iframe {
            z-index: -2;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100dvh;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
    <div class="main-ow">
        <div class="bg-iframe" aria-hidden="true">
            <iframe src="attractor/index.html"></iframe>
        </div>
        <h1>C365</h1>

        <p>A comprehensive archive about container technology</p>

        <p>
            It is recommended for both who want to learn how to manage
            containers and who want to understand the underlying architecture to
            start with general.
        </p>
        <a href="general/containers" class="start">
            Get started (General / Linux Containers)
        </a>

        <br />
        <!--<img src="img/mascot.svg" class="hello" />-->
        <a href="work-with-containers" class="button"> Work with containers </a>
        <a href="architecture" class="button"> Containers architecture </a>

        <p>
            Note: All trademarks are the property of their respective owners.
            Unless specified otherwise, we do not claim endorsement or
            affiliation with anyone. <br />Standard terminolgies are used and
            they do not refer to any real-word actions.
        </p>
    </div>
</div>

{% endblock %}
