{% extends "base.html" %}

<!---->
{% block htmltitle %}
<title>C356</title>
{% endblock %}
<!---->

<!---->
{% block content %}
<div>
    <style>
        .hello {
            position: absolute;
            bottom: 110px;
            right: 10px;
            filter: invert(0.5);
            width: 40%;
        }
        p {
            margin: 0 0 22px;

            font-size: 17px;
            line-height: 1.45;
        }

        p + p {
            margin: 0 0 20px;

            font-size: 14px;
            line-height: 1.4;

            font-style: italic;
        }

        .button {
            display: inline-flex;

            align-items: center;
            justify-content: center;

            margin-top: 10px;
            padding: 10px 25px;

            border-radius: 999px;

            font-size: 14px;
            font-weight: 600;

            color: #f1f1f1 !important;
            background: #010101;
        }
    </style>

    <h1>C365</h1>

    <p>A comprehensive documentation about container technology</p>

    <p>
        This guide primarily focuses on utilizing Podman and rpm based linux
        distributions. <br />
        It's planned to add support for other platforms and software down the
        road.
    </p>

    <a href="containers" class="button"> Get started with containers (WIP) </a>
    <a href="containers" class="button">
        Get started with architecture (Draft)
    </a>
    <img src="img/mascot.svg" class="hello" />
</div>

{% endblock %}
