* {
    marigin: 0;
    padding: 0;
    height: 100dvh;
    border-sizing: border-box;
}

.md-header__source {
    display: none;
}

.md-grid {
    max-width: 100%;
}

.md-typeset {
    color: none;
    background-color: transparent;
}

h6 {
    line-height: 0;
    visibility: hidden;
}

.task-list-indicator {
    display: none;
    visibility: hidden;
}

a {
    text-decoration: none !important;
}
